// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: "El Messiri", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$primary:       #76a82f ;
$secondary:     #107f44;
$tertiary:      #22a64c;
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "tertiary":   $tertiary,
);
$body-color: #808080;



$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#FFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

