a,
.btn{
    transition: all 0.3s ease-out;
}

.btn{
    padding:  8px 35px 4px;
    line-height: 1.4;
    border-radius: 30px;
    @extend .shadow;
    &:hover{
        box-shadow: none !important;
    }
    &.btn-lg{
        padding:  10px 45px 6px;
        font-size: 22px;
    }
}.dropzone-wrapper{
     display: block;
     border: 1px dashed #ccc;
     text-align: center;
     border-radius: 5px;
     padding: 10px 20px;
     position: relative;
     cursor: pointer;
     .dropzone-input{
         opacity: 0;
         position: absolute;
         cursor: pointer;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
     }
     > span{
         display: block;
     }
     .file .fa{
         color: #2295e1;
         font-size: 40px;
         margin-bottom: 15px;
         margin-top: 10px;
     }
     .file-name{
         font-size: 12px;
         font-weight: bold;
     }
     .file-size{
         font-size: 10px;
         color: #ccc;
     }
 }




.loader{
    position: fixed; top: 0; left: 0;
    z-index: 10000;
    width: 100%; height: 100%;
    background: transparentize($primary,0.1);
    color: #FFF;
    .spinner {
        width: 70px;
        height: 22px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        > div {
            width: 18px;
            height: 18px;
            background-color: #FFF;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
        & .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        & .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
    }
    @-webkit-keyframes bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0.0) }
        40% { -webkit-transform: scale(1.0) }
    }

    @keyframes bouncedelay {
        0%, 80%, 100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        } 40% {
              transform: scale(1.0);
              -webkit-transform: scale(1.0);
          }
    }
}

.progress-wrapper{
    position: fixed; top: 0; left: 0;
    z-index: 100000;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    .box{
        background-color: #fff;
        border-radius: 40px;
        margin-top: 10%;
        padding: 20px 30px;
        max-width: 700px;
    }
    .title{
        text-transform: uppercase;
        color: $primary;
        font-size: 16px;
        text-align: center;
        //line-height: 21px;
        margin-bottom: 30px;
        small{
            color: #808994;
        }
    }
    .progress{
        border-radius: 15px;
        background-color: #eee;
        .progress-bar{
            font-size: 10px;
            font-weight: bold;
        }
    }
    .stats-box{
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #8c8e94;
        margin-top: -14px;
    }
}


.hide{
    display: none !important;
}
.show{
    display: block !important;
}


footer{
    background-color: #FFF;
    color: $gray-400;
}
