.body-content{
    height: 100%;
}

.login-page{
    background: #fafafa url("/images/bg-login.jpg") center top  no-repeat;
    background-size: cover;
}



.game-2 .body-content{
    padding-top: 100px !important;
    background: url("/images/game-2/bg-game-2.jpg") no-repeat top center;
    background-size: cover;
}


.end-game .body-content{
    background: url("/images/end-bg.jpg") no-repeat top center;
}

.game-3{
    .body-content{
        background: url("/images/games/bg-3.jpg") no-repeat top center;
        background-size: cover;
    }
    .app-logo{
        width: 100px;
        display: block;
        margin: 0 auto 30px;
        @include media-breakpoint-up(md){
            position: absolute;
            width: 170px;
        }
    }
    .game-header{
        margin-bottom: 20px;
        text-align: center;
        @include media-breakpoint-up(md){
            min-height: 80px;
        }
        .icn{
            display: none;
            @include media-breakpoint-up(md){
                display: inline-block;
            }
        }
        .btn.btn-primary{
            float: none !important;
            margin-top: 10px;
            @include media-breakpoint-up(md){
                float: right !important;
            }
        }
    }
}

.game-4{
    .body-content{
        background: url("/images/games/bg-4.jpg") no-repeat top center;
        background-size: 100%;
    }
    .app-logo{
        width: 100px;
        display: block;
        //margin: 0 auto 30px;
        @include media-breakpoint-up(md){
            //position: absolute;
            width: 230px;
        }
    }
    .video-item{
        background: url("/images/game-4/bg-video.png") no-repeat top center;
        background-size: 84%;
        video{
            background: #222;
            margin-top: 30px;
        }
        h4{
            text-shadow: 0 1px 8px rgba(255,255,255,0.7);
        }
    }
}
