#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -18rem;
    transition: margin .25s ease-out;
    .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }
    .list-group{
        width: 18rem;
        &:not(.mt-auto) .list-group-item{
            font-size: 18px;
            font-weight: bold;
            color: $gray-600;
            border-bottom-color: $gray-200;
            border-right: none;
            border-left: none;
            &:hover,
            &.active{
                background-color: $primary;
                color: #FFF !important;
            }
        }
    }
    i.fas,
    i.fab{
        margin-right: 20px;
        font-size: 20px;
    }
}

#content-wrapper {
    min-width: 100vw;
    min-height: 100vh;
}

#app.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #app.toggled #sidebar-wrapper {
        margin-left: -18rem;
    }
}
